*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #f6f9f9;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/*---------------- header section---------------*/

header{
    width: 100%;
    float: left;
}

.logo{
    padding: 27px 0px;
}

.logo img{

}

/*----------------banner section---------------*/

.banner{
    width: 100%;
    float: left;
    background:url(img/banner.jpg) no-repeat;
    background-size: cover;
    padding: 27px 0px;
}

.banner-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.banner-content h2{
    font-size: 120px;
    color: white;
    margin-top: 199px;
}

.banner-content span{
    border-bottom: 1px solid #15a4fa;
    display: block;
    width: 80%;
    margin: 20px auto;
}

.banner-content p{
    color: white;
    font-weight: 400px;
    font-size: 20px;
    margin-bottom: 55px;
}

.btn{
    color: white;
    background:none ;
    border: 1px solid #15a4fa;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}

.icon {
    color: white;
    margin-top: 120px;
    font-size: 22px;
    margin-bottom: 40px;
}

/*----------------design section---------------*/

.design{
    width: 100%;
    float: left;
    padding: 27px 0px;
}

.design-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.design-content h2{
    font-size: 40px;
    margin-bottom: 28px;
    color: #2d3950;
    padding-top: 25px;
}

.design-content p{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #999999;
    padding-bottom: 20px;
}

/*----------------service section---------------*/

.service{
    width: 100%;
    float: left;
    padding: 27px 0px;
    background-color: white;
}

.service h2 {
    color: #2d3950;
    font-size: 22px;
    padding: 20px 0px;
}

.service p {
    color: #999999;
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

.service-one {
    width: 33.33%;
    float: left;
    margin: 35px auto;
    text-align: center;
}

.service-icon{
    width: 80px;
    height: 80px;
    background-color: #48baff;
    line-height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    position: relative;
}

.service-icon::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.26);
}

/*----------------work section---------------*/

.work{
    width: 100%;
    float: left;
    padding: 27px 0px;
}

.work-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.work-content h2 {
    color: #2d3950;
    font-size: 40px;
    padding: 9px 0px;
    word-spacing: 2px;
    margin-top: 10px;
}

.work-content p {
    font-size: 16px;
    color: #999999;
    margin-top: 15px;
    word-spacing: 2px;
}

.work-item {
    width: 100%;
    float: left;
    padding: 30px 0px;
    margin: 0px 0px;
}

.item-1 {
    width: 26%;
    float: left;
    /* margin-bottom: 20px; */
    margin: 10px 38px;
}

.item-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 113%;
}

/*----------------input section---------------*/

.input{
    width: 100%;
    float: left;
    padding: 27px 0px;
    background: url(img/bg.jpg);
}

.input-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.input-text h2{
    color:white;
    font-size: 40px;
    padding: 15px 0px;
    word-spacing: 2px;
    margin-top: 20px;
}

.input-text p {
    font-size: 15px;
    color: #999999;
    word-spacing: 2px;
    padding-bottom: 20px;
}

.contact-form {
    width: 40%;
    margin: 0 auto;
}

.form-control {
    width: 95%;
    padding: 15px 6px;
    background: transparent;
    border: 1px solid #9999;
    margin: 9px 0px;
}

textarea {
    width: 95%;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #999999;
    padding: 10px 7px;
}

.contact-2{
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.contact-2-right{
    width: 40%;
    float: right;
}

.contact-2-right button {
    color: white;
    background: none;
    border: 1px solid #15a4fa;
    padding: 7px 35px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 11px;
}

.contact-2-left {
    width: 20%;
    float: left;
    margin-left: 341px;
    margin-top: 22px;
    color: white;
}

.sub{
    padding: 0px 8px;
    
}

/*----------------footer section---------------*/

footer {
    width: 100%;
    float: left;
    padding: 22px 0px;
}

.f-left{
    width: 40%;
    float: left;
}

.f-left p {
    font-size: 15px;
    color: #999999;
    margin-top: 15px;
}

.f-right {
    width: 23%;
    float: right;
}

.f-right ul{
    list-style: none;
}

.f-right ul li{
    display: inline-block;
}

.fab.fa-facebook-f {
    background: #15a4fa;
    padding: 12px 14px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
}

.fab.fa-twitter{
    background: #15a4fa;
    padding: 12px 14px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
}

.fab.fa-linkedin-in{
    background: #15a4fa;
    padding: 12px 14px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
}
.fab.fa-google-plus-g{
    background: #15a4fa;
    padding: 12px 14px;
    color: white;
    border-radius: 2px;
    font-size: 14px;
}